{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css" rel="stylesheet" />                
        <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" type="text/css" rel="stylesheet" />        
        <link href="{{ asset('css/home_css.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}    
<div class="carousel-wrap">
    <div class="owl-carousel owl-theme">        
        {% for evenement in evenements|slice(0, 5) %}
          <div class="item">
            <img src="https://padelmagazine.fr/wp-content/uploads/2018/09/photo-1456983933114-c22026990f4b-3.jpeg" />
            <span class="img-text">{{ evenement.NomEvenement }}</span>
          </div> 
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/HomeJs.js')}}"></script>
{% endblock %}

