*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
}

html,body{
    height: 100%;
}

body{
    background-color: #f8f9fa;
}

.backimage{
    position: absolute;
    top: 0;
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/roubaix.jfif");
    background-size: cover;
    background-position: top;
    height: 60%;
    width: 100%;
    z-index: -1;
}

.main-title{
    text-align: center;
    color: #fff;
    font-size: 5em;
    margin-top: 20vh;
}

.subtitle{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin-top: 5vh;
}

.main{
    width: 60%;
    margin: 10vh auto;
}

.navbar{
    font-size: 1.2em;
    background-color: rgb(133, 101, 81)!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 0.75);
}

.body-home{
    background-color: #fff;
    height: 100%;
    padding: 45px;
}