{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Les évenements</h1>
    <div class="test">
        {% for evenement in evenements %}
            {% if loop.index0 % 3 == 0  and loop.first %}
                <div class="row">
            {% elseif loop.index0 % 3 == 0 %}
                </div>
                <div class="row">
            {% endif %}
                <div class="col-4">{{ evenement.NomEvenement }}</div>
            {% if loop.index0 % 3 == 1 or loop.last %}
            {% endif %}   
        {% endfor %}
    </div>
    <a href="{{ path('evenement_new') }}">Create new</a>
{% endblock %}
