{% extends 'base.html.twig' %}

{% block title %}Hello Compte!{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <div class="example-wrapper">
        <p>Adresse mail :</p>
        <p>Date de naissance : </p>

        <p><button>Souscrire a un abonnement</button></p>
        <p><a class="btn" href="{{url("app_logout")}}">Deconnexion</a></p>
    </div>
{% endblock %}